---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroSection from "../components/HeroSection.astro";
import KitSection from "../components/KitSection.astro";
import SubscriptionSection from "../components/SubscriptionSection.astro";
import FooterContatos from "../components/FooterContatos.astro";
---

<Layout title="Encantos Literários - Clube de Assinatura">
    <Header />
    <main>
        <HeroSection />
        <KitSection />
        <SubscriptionSection />
    </main>
    <FooterContatos />
</Layout>